{% extends "base.html" %} {% block title %}Registered{% endblock %} {% block
content %}
<div class="container">
    <img src="{{ url_for('static',filename='finalimage14.png') }}" width: 1200px height: 700px></div>
    <h7>  <div style="background-color:PeachPuff;">Please confirm your information.<br>
    We'll contact you after your afterward for more details,
     and whenever we'll have available food near you, we'll inform you on registered mobile number.<br><br>
    [Name of NGO/individual = {{ oneName }} <br>
    Mobile No. = {{ mobno }} <br>
    Address of NGO = {{ addngo }}]
</h7>
</div></div>
</form>
{% endblock %}