{% extends "base.html" %} {% block title %}Support{% endblock %} {% block
content %}<br>
<div class="myborders" style="background-color:lightgreen;">
   <h3 align="center"><u> <b>Support</b></h3></u>
  <div align="center">
  <img class="d-block w-50" src="{{ url_for('static',filename='finalimage4.png') }}" width: 100% height: 100%></div>
  <div align="center">
  <h7>To support us(give us feedback, suggestions, guidance, solutions, information, help, advice, etc), kindly visit 
  <a href="contact-us">"contact us"</a></h7></div>
  <br>
  <div align="center">
  <img class="d-block w-50" src="{{ url_for('static',filename='finalimage1.jpg') }}" ></div>
  <div align="center">
  <h7>To donate, kindly visit <a href="contact-us">"contact us"</a></h7><br></div>
  <br><div align="center"><a href="/login" class="btn btn-primary">Go back to login page</a></div><br>
  </div>

</div>
  
{% endblock %}